<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{% block title %} DRACGL {% endblock %}</title>
		<link rel="stylesheet"  type="text/css" href="{% static 'dacgl/css/resset.css' %}">
		<link rel="stylesheet"  type="text/css" href="{% static 'dacgl/css/base.css' %}">
	</head>
	<body>
		<div>
			<header>
				<div class="header">
					<span id="logo" class="logo">
						<img src="{% static 'dacgl/img/logo_AUF_RVB.png' %}" alt="Logo AUF"/>
					</span>
					<div id="sitename">
						DRACGL - {% block sitename %}Petit Outil de gestion{% endblock%}
					</div>
					<div id="cmember">
						<p>
							{% if not user.is_authenticated %}
								<a href="{% url 'entree' %}">Ouvrir une session</a>
							{% else %}
								<a href="{% url 'sortie' %}">
									Bienvenue {{ user.username }}
									<br />Se déconnecter
								</a>
							{% endif %}
						</p>
					</div>
				</div>
				<div id="menu">
					<ul >
						<li><a href="{% url 'home' %}">Accueil</a></li>
						<li><a href="{% url 'id2:index' %}">Gestion des visites</a></li>
						<li><a href="{% url 'manif:index' %}">Manifestations organisées</a></li>
						<li><a href="{% url 'inventaire2:index' %}">Inventaire</a></li>
						<li><a href="{% url 'id2:recherche' %}">Recherche</a></li>
						{% if user.is_authenticated %}
							{% if user.is_staff %}
								<li><a href="/admin" target="_blank">Interface d'administration</a></li>
							{% endif%}
						{% endif%}
						<li><a href="{% url 'id2:inscription' %}"> Inscription</a></li>
					</ul>
				</div>
			</header>
			<div id="corpage">
				<div id="sommaire">
					<!--
					<ul>
						 <li><a href="#lastvisit">Les dernières visites</a></li>
						 <li><a href="#lastvisit">Les dernières inscriptions</a></li>
						 <li><a href="#lastvisit">Les dernières visites de prestataire</a></li>
						 <li><a href="#lastvisitpresta">Manifestations organisées</a></li>
						 <li><a href="#lastvisit">Recapitulatif</a></li>
					 </ul>
					 -->
				</div>
				<div  id="content">
					 {% block content %}
					 
					 {% endblock %}
				</div>
			</div>
			{% block piedDePage %}
				<div id="pied">
					<p >
						<a href="{% url 'home' %}">Accueil</a>
						<a href="{% url 'id2:index' %}">Gestion des visites</a>
						<a href="{% url 'manif:index' %}">Manifestations organisées</a>
						<a href="{% url 'inventaire2:index' %}">Inventaire</a>
					</p>
				</div>
			{% endblock %}
		</div>
	</body>

</html>
