{% extends "dacgl/base.html" %}

{%  block sitename %}
	Connexion 
{% endblock %}
{% block content %}
<div class="form">
	<h3> Connexion aux outils de la DRACGL</h3>
	{% if form.errors %}
		<p>
			Les informations saisies ne correspondent pas! 
		</p>
	{% endif %}
	<form action="{% url 'id2:entreeVerification' %}" method="post">
		{% comment %}<form action="{% url 'connexion-check' %}" method="post"> {% endcomment %}
		{% csrf_token %}
		
		<label for="id_identifiant">Identifiant:</label>
		<input id="id_identifiant" maxlength="40" name="identifiant" type="text" required/>
		
		<label for="id_password">Mot de passe:</label>
		<input id="id_password" maxlength="90" name="password" type="password" required />
		
		<input value="Connexion " type="submit" />
	</form>
</div>

{% endblock %}
