{% extends "inventaire2/base.html" %}

{% block content %}

<h3> Rapport de l'import du fichier </h3>

<p>Nom du fichier: {{ f }} </p>
{{ csvfile }} <br>
longueur: {{ testons | length }} <br />Contenu: {{ testons }} <br> {{ import_f }}<br> {{ result }}
<ul>
{% for  l in testons %}
<li> {{ l}} </li>
{% endfor %}
</ul>
<ul>
  <li>Nombre total d'articles traités: {{ total_lignes }}</li>
  <li>Nombre d'articles traités correctement: {{ nbr_lignes_OK }}</li>
  <li>Nombre d'articles étant déjà présents et qui n'ont pas été ajoutés:
    {{ lignes_not_OK | length }}<br />Lignes concernées: {{ lignes_not_OK }}</li>
</ul>

{% for l in lignes_not_OK %}
 {{ l }} <br/>
{% endfor %}

{% endblock %}
