{% extends "inventaire2/base.html" %}

{% block content %}

{{ contexte }}

<h2>Sommaire</h2>
<ul>
	<li><a href="{% url 'inventaire2:extraction'  %}">Extraire la totalité au format CSV</a></li>
	<li><a href="#dernieresEntrees">Les dernières acquisitions</a></li>
</ul>


<h3><a name="dernieresEntrees">Les 40 dernières acquisitions</a></h3>
<table border="1">
	<tr>
		<th>Intitulé</th>
		<th>Catégorie</th>
		<th>Usage</th>
		<th>Date d'acquisition</th>
		<th>code inventaire</th>
		<th>Commande Coda</th>
		<th>Prix d'achat</th>
		<th>Devise</th>
	</tr>

	{% for p in piece %}
	<tr>
		<td> {{ p.intitule }} </td>
		<td> {{ p.categorie }} </td>
		<td> {{ p.usage }} </td>
		<td> {{ p.date_acquisition }} </td>
		<td> {{ p.code_inventaire }} </td>
		<td> {{ p.commande_coda }} </td>
		<td> {{ p.prix_achat }} </td>
		<td> {{ p.devise }} </td>
	</tr>
	{% endfor %}

</table>
{% endblock %}
