

{% block title %}Accuiel{% endblock %}

{% block content %}
    <div id="user">
     Bienvenu(e) {{ username }} 
    <div/>

<h2>Liste des Derniers Usagers Enregistrés</h2>
 <table>

   <caption></caption>


   <thead> <!-- En-tête du tableau -->

       <tr>

           <th> Date </th>
           <th>Noms & Prenoms</th>
           <th> Service </th>
           <th> Objet Visite </th>

       </tr>

   </thead>


   <tfoot> <!-- Pied de tableau -->

       <tr>
           <th> Date </th>
           <th>Noms & Prenoms</th>
           <th> Service </th>
           <th> Objet Visite </th>
       </tr>

   </tfoot>


   <tbody> <!-- Corps du tableau -->
{% for n in visites %}
       <tr>
       
           <td> <a href="{% url 'deconnexion' %}">{{ n.date_jour }}</a></td>
           <td> <a href="{% url 'deconnexion' %}">{{ n.usager }}</a></td>
           <td> <a href="{% url 'deconnexion' %}">{{ n.service }}</a></td>
           <td> <a href="{% url 'deconnexion' %}">{{ n.type_visit }}</a></td>
           
       </tr>
{% endfor %}
   </tbody>

</table>

{% endblock %}
