/***************************balise Body ******************************/
body 
{
    padding: 0px;
    margin:0px;
    //font-size: 12px;
    //line-height:3; 
    /*font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif; */
    font-family: "Open Sans", sans-serif;
    color: #333;
    //background: #fad687 no-repeat top/6% url("../img/logo_AUF_RVB.png");
}
/************************* FIN Balise body ******************************/

/**************************Balise header ********************************/
.header
{
	height:61px;  /*fixer la hauteur du header à 61 px */
	background: #858585;  /*Donner a l'arriere plan la couleur 858585 */
}
/**************************Fin Balise header ****************************/

/**************************logo de l'application ************************/
#logo
{
	height:100%;
	width:15%;
	display: inline-block;
}
/**********************Fin logo de l'application **********************/
/****************Slogant de l'applicaion *****************************/
#sitename
{
	height:100%;
	width:68%;
	display: inline-block;
	margin-top: 10px;
	font-size:30px;
	font-weight: bold;
	color:#FFFFFF;
	text-align: center;
	vertical-align:top;
}
/****************Fin Slogant de l'applicaion *************************/

/********************Espace de connexion***************************/
#cmember
{
	height:100%;
	width:15%;
	display: inline-block;
	text-align: right;
	vertical-align:top;
	padding-bottom: 5px;
}
#cmember  > p , #cmember  > p > a
{
	color:#FFFFFF;	
}
/*********************Fin Espace de connexion ************************/
/*********************Configuration des liens  *************************/
a
{
	text-decoration:none;
}
a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
}

a:hover {
    color: #036;
}

a img {
    border: none;
}

a.section:link, a.section:visited {
    color: #fff;
    text-decoration: none;
}
/****************Fin Configuration des liens****************************/

/*************** Configuration des tableau *****************************/

table 
{
    border-collapse: collapse;
    border-color: #ccc;
}

td, th 
{
    //font-size: 11px;
    line-height: 13px;
    border: 1px solid #eee;
    vertical-align: top;
    padding: 20px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}
/**************Fin Configuration des tableaux *************************/
/********************* Elements du menu *******************************/
#menu
{
	height:40px;
	background: #eaecef;
	list-style:none;
	margin:0;
	padding: 5px;
	padding-bottom: 10px;
	text-align: center;
}

#menu li
{
	display:inline;
	padding:5px;
	margin-left:5px;
	border-left: 1px solid #ba1c03;
}
#menu li:hover
{
	border-bottom: 5px solid #ba1c03;
}
#menu li a
{
	padding:1px;
	text-align: center;
}
/*************************Fin elements de menu ***********************/

/** Grossir la valeur des elements  du formulaire **/
input
{
	font-size: 20px;
}

/************************* Le corps de la page **************************/
#corpage
{
		margin-top:30px;
}
/************************* FIn Le corps de la page **************************/

/*********************** partie presentant les recapitulatifs ***************/
#sommaire
{
	display: inline-block;
	//float: left;
	width: 15%;
	vertical-align: top;
	padding: 5px;
}
#sommaire li
{
	list-style-type: none; 
	padding: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin:1px;
	border-bottom: 1px solid #f2d813;
}

#sommaire li:hover
{
	border-left: 5px solid #f2d813;
}
/********************Fin  partie presentant les recapitulatifs **************/

/*************************** Contenu de la page  ***************************/
#content
{
	display: inline-block;
	width: 82%;
	vertical-align: top;
	padding: 10px;
	margin-left: 10px;
}

.boutoncontourvert
{
	display: inline-block;
	padding : 15px;
	margin-bottom:15px;
	border: 1px solid #81F781;
}
/*************************** Fin Contenu de la page  ***********************/

/*********************** Pied  de page ***************************************/
#pied
{
	height:80px;
	background: #dbdde0;
	text-align: center;
	margin-top: 10px;
}

#pied p
{
	padding-top: 25px;
}

#pied a
{
	display:inline;
	padding:5px;
	margin-left:5px;
	border-left: 1px solid #2370ed;
}
#pied a:hover
{
	border-bottom: 5px solid #2370ed;
}

/****************** Paramettrage de la page de connexion ***************/
.form
{
	width: 30%;
	margin-left: 25%;
	line-height: 25px;
	//padding: 20px;
	border: 1px solid #3333;
	background-color: #F2F2F2;
	text-align: center;
}
.form > h3
{
	
	border-bottom: 1px solid #3333;
	padding-bottom: 10px;
	//background-color: #F2F2F2;
}
.form > p 
{
	border-bottom: 1px solid #FE2E2E ;
	padding-bottom: 10px;
	background-color: #F5A9A9;
	color: #FE2E2E;
}
 .form > form> label
 {
	display: block;
	margin-top: 10px;
	padding-left: 30px;
	text-align: left;
 }
 
 .form > form > input
 {
	margin: 10px;
	padding : 10px;
	font-weight: bold;
	font-size : 20px;
	text-align: center;
	width: 80%;
 }
