<!DOCTYPE html>

{% load staticfiles %}
<html>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %} DRACGL - Gestion des visiteurs {% endblock %}</title>
  <link rel="stylesheet"  type="text/css" href="{% static 'id2/css/base.css' %}">

  <body>
          <div id="side">
                  {% block sidebar %}

                  <ul>
                          {% if not user.is_authenticated %}
				  <p>Veuillez svp ouvrir <a href="/ident/login">une session</a></p>
                          {% else %}
				  Bienvenue {{ user.username }}
				  <li><a href="/ident/">Accueil</li>
                                  {% if user.is_staff %}
					  <li><a href="/admin" target="_blank">Interface d'administration</li>
					  <li><a href="/ident/recherche/">Formulaire recherche</li>
					  <li><a href="/ident/inscription/">Formulaire d'inscription</li>
                                  {% endif %}
                          <li>
				  <a href="/admin/logout">Se déconnecter</a> <br />
                            {% endif %}
                        </ul>

		{% endblock %}
                </div>

          <div id="content">
                  {% block content %}{% endblock %}
          </div>
          {% block piedDePage %}

	   <hr>
           <a href="/ident/">Accueil</a> |<a
              href="/ident/infoabonne/">Adresses inscrites</a> | 
            <a href="/ident/infousager/">Usagers repertoriés</a> 
            | <a href="/ident/recherche/">Effectuez une recherche</a> | <a href="/admin/">Administration</a>
	 
	  {% endblock %}
  </body>

</html>
