<!DOCTYPE html>

{% load staticfiles %}
<html>
	<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %} DRACGL - Gestion des visiteurs {% endblock %}</title>
  <link rel="stylesheet"  type="text/css" href="{% static 'id2/css/base.css' %}">
	</head>

  <body>
	  <div>
	  <div id"menu0" float="left">
	   <p>
           <a href="/ident/">Accueil</a> |<a
	      href="{% url 'inscription' %}"> Inscription</a> | 
	     <a href="{% url 'recherche' %}">Recherche</a>
	   </p><br />
	   {% if user.is_staff %}
	    {% if service %}
	    <p>
	    Les services:
	    {% for s in service %}
	    <a href="/ident/service/{{s.id}}/recherche/">{{s.nom_serv}}</a> |
	    {% endfor %}
	    </p>
	    {% endif %}
	   {% endif %}
	  </div>
          <div id="side" align="right">
                  {% block sidebar %}

                  <ul>
                          {% if not user.is_authenticated %}
				  <p>Veuillez svp ouvrir <a href="/ident/login">une session</a></p>
                          {% else %}
				  Bienvenue {{ user.username }}
				  <li><a href="/ident/">Accueil</li>
                                  {% if user.is_staff %}
					  <li><a href="/admin" target="_blank">Interface d'administration</li>
					  <li><a href="/ident/recherche/">Formulaire recherche</li>
					  <li><a href="/ident/inscription/">Formulaire d'inscription</li>
                                  {% endif %}
                          <li>
				  <a href="/ident/logout">Se déconnecter</a> <br />
                            {% endif %}
                        </ul>

		{% endblock %}
                </div>
	  </div>

          <div id="content">
                  {% block content %}{% endblock %}
          </div>
          {% block piedDePage %}

	  <div align="center" id="piedDePage">
	   <hr>
	   <p>
           <a href="/ident/">Accueil</a> |<a
	      href="{% url 'inscription' %}"> Inscription</a> | 
	     <a href="{% url 'recherche' %}">Effectuez une recherche</a>
	   </p>
	  </div>
	 
	  {% endblock %}
  </body>

</html>
