{% extends "id2/base.html" %}
{% block sommaire %}
	<ul>
		<h2>Sommaire</h2>
		 <li><a href="#lastvisit">Les dernières visites</a></li>
		 <li><a href="#lastsubscribed">Les dernières inscriptions</a></li>
		 <li><a href="#lastvisitpresta">Les dernières visites de prestataire</a></li>
		 <li><a href="#récap">Récapitulatif</a></li>
	 </ul>
{% endblock %}
{% block content %}
<div class="contentback">
	 {% if derniereVisite %}
	 <p class="boutoncontourvert"> <a  href="{% url 'id2:extraction' SERVICE_A_EXTRAIRE %}">Extraire au format CSV</a> la <em>totalité</em> des différentes visites.</p>
	 <br />
	 <h3> <a name="lastvisit">Les 20 dernières visites</a> </h3>
	 <table>
		 <tr><th>Nom</th><th>Lieu</th><th>Motif</th><th>Heure d'arrivée</th><th>Heure de départ</th></tr>
		 {% for visite in derniereVisite %}
		 <tr><td><a href="/ident/consigne/usager/{{visite.id}}">{{ visite.usager }}</a></td>
			 <td>{{ visite.service }}</td>
			 <td>{{ visite.type_visit }}</td>
			 <td>Il y a {{ visite.date_arrivee |timesince }}</td>
			 <td>{{ visite.date_deprt }}</td>
		 </tr>
		 {% endfor %}
	 </table>
	 {% endif %}
	 <br />
	 <br />

	 {% if derniereVisitePresta %}
	 <h3> <a name="lastvisitpresta">Les 20 dernières visites de prestataires</a> </h3>
	 <table>
		 <tr><th>Nom</th><th>Lieu</th><th>Motif</th><th>Heure d'arrivée</th><th>Heure de départ</th></tr>
		 {% for visite in derniereVisitePresta %}
		 <tr><td><a href="/ident/consigne/employe/{{visite.id}}">{{ visite.employe }}</a></td>
			 <td>{{ visite.service }}</td>
			 <td>{{ visite.type_visit }}</td>
			 <td>{{ visite.date_arrivee }}</td>
			 <td>{{ visite.date_deprt }}</td>
		 </tr>
		 {% endfor %}
	 </table>
	 {% endif %}
	 
	 <br />
	 <br />
	 {% if dernierInscrit %}
	 <h3> <a name="lastsubscribed">Les 10 derniers usagers enregistrés</a> </h3>
	 <table>
		 <tr><th>Nom</th><th>Prénom</th></tr>
		 {% for inscrit in dernierInscrit %}
		 <tr><td>{{ inscrit.nom }}</td><td>{{ inscrit.prenom }}</td></tr>
		 {% endfor %}
	 </table>
	 {% endif %}
	 <h3> <a name="récap">Récapitulatif</a></h3>
	 <table>
		 <tr><td>Nombre d'usagers enregistrés</td><td> {{ usager }}</td></tr>
                 <tr><td>Nombre de visite ce mois</td><td>{{ visitCeMois | length }}</td></tr>
		 <tr><td>Nombre de visite cette semaine</td><td>{{ visitSemaine | length }}</td></tr>
	 </table>
</div>
{% endblock %}
