{% extends  "id2/base.html" %}

{% block content %}
<div >
	<h1>{{ service_nom }}</h1>
	{% if message_erreur %}
	<p><strong> {{ message_erreur }} </strong></p>
	{% endif %}
	<p> <a href="{% url 'id2:extraction' service_id %}">Extraire au format CSV</a> les différentes visites</p>
	<br />
</div>
<hr />
<div>
	{% if visite %}
	<h2>Etat des visites</h2>
	<p> Au total {{ visite.count }} visite(s) pour le {{ service_nom }}.
	<table>
		<tr>
			<th>NOM</th>
			<th>Motif</th>
			<th>Date arrivée</th>
			<th>Date départ</th>
		</tr>
		{% for v in visite %}
		<tr>
			<td>{{v.usager}}</td>
			<td>{{v.type_visit}}</td>
			<td>{{v.date_arrivee}}</td>
			<td>{{v.date_deprt}}</td>
		{% endfor %}
	</table>

	{% else %}
	<p> Pas de résultats! </p>

	{% endif %}
</div>

{% endblock %}
